.button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &.button-round {
        background: lightslategray;
        padding: 20px;
        border-radius: 50px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        margin: 10px;
        pointer-events: none;

        &:hover {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
            box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
            pointer-events: none;
        }
    }
    
    &.button-check {
        color: black;
        background: lightsteelblue;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        border: solid;
        border-width: 2px;
        border-color: darkslategray;
        transition: all 0.4s ease 0s;
        margin: 10px;
        pointer-events: none;
    }
    
    &.button-check:hover {
        fill: lightslategray;
        transition: all 0.4s ease 0s;
        pointer-events: none;
    }
}