.warsaw-map {
    width: auto;
    height: 70vh;
    float: right;

    .district {
        fill:lightsteelblue;
        stroke: darkslategray;
        stroke-width: 2px;
    }

    .river {
        fill: deepskyblue
    }

    path:hover {
        fill: lightslategray;
    }

    .true {
        // Used to indicate if the path has been clicked.
        // Defined by parent state (state.district-name).
        fill: slategray
    }

    text {
        pointer-events: none;
    }
}