.warsaw-map {
    width: auto;
    height: 70vh;
    float: right;

    .district {
        fill:lightsteelblue;
        stroke: darkslategray;
        stroke-width: 2px;
    }

    .river {
        fill: deepskyblue
    }

    path:hover {
        fill: lightslategray;
    }

    .pushed {
        fill: slategray
    }
}